{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").onmouseover = function () {
                    this.style.color = "rgb(194, 23, 42)";
            }
            document.getElementById("elem-menu2").onmouseover = function () {
                    this.style.color = "rgb(194, 23, 42)";
            }
            document.getElementById("elem-menu2").onmouseover = function () {
                this.style.color = "rgb(194, 23, 42)";
            }
            document.getElementById("elem-menu3").onmouseover = function () {
                this.style.color = "rgb(194, 23, 42)";
            }
            document.getElementById("elem-menu4").onmouseover = function () {
                this.style.color = "rgb(194, 23, 42)";
            }
            document.getElementById("elem-menu5").onmouseover = function () {
                this.style.color = "rgb(194, 23, 42)";
            }
        }

        maFonction();
    </script>

    <div id="homep">
        <div class="landing-textp">
            <div class="case_connexion">
                <div class=eqcss>
                    <h2 class="titre_co">INSCRIVEZ-VOUS</h2>
                    <hr align=center width="20%">
                </div>
                    
                    {{ form_start(form) }}

                        {{ form_row(form.username, {'label' : " ",'attr': 
                        {'placeholder': 'Username', 'class': 'form_co'}})}}
                        {{ form_row(form.email, {'label' : " ",'attr': 
                        {'placeholder': 'Email', 'class': 'form_co'}})}}
                        {{ form_row(form.password, {'label' : " ",'attr': 
                        {'placeholder': 'Mot de passe', 'class': 'form_co'}})}}
                        {{ form_row(form.confirm_password, {'label' : " ",'attr': 
                        {'placeholder': 'Confirmez votre mot de passe', 'class': 'form_co'}})}}
                        
                        <button class="btn  fonction" type="submit">S'INSCRIRE</button>
    
                    {{ form_end(form) }}
                    <br>

                    <div class=eqcss2>
                        <hr align=center width="70%">
                        <br>
                        Vous avez déja un compte Health Eat ? <a class="lien" href="{{ path('security_connexion') }}">Connectez-vous</a>
		            </div>
            </div>
        </div>
    </div>

    

{% endblock %}