<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}HEALTH EAT{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 

        {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}
        
        <link rel="stylesheet" href="/build/app.css">

        {% endblock %}
    
    </head>
    <body>  

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="test">
		<div class="container-fluid ">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('healtheat') }}"><img src="{{ asset('build/images/LOGO_HE.png') }}" alt="#" width="90px" height="90px" style="margin:-20px 0px"></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-main">
            {% if not app.user %}
				<ul class="nav navbar-nav navbar-right">
					<a href="{{ path('security_connexion') }}"><button class="btn  connexion" ><i class="far fa-user-circle"></i>  CONNEXION</button></a>
				</ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="{{ path('security_inscription') }}"><button class="btn  connexion" ><i class="fab fa-wpforms"></i>  INSCRIPTION</button></a>
				</ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
					<a href="{{ path('security_logout') }}"><button class="btn  connexion" ><i class="far fa-user-circle"></i>  DÉCONNEXION</button></a>
				</ul>
            {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-target="#"  href="{{ path('healtheat') }}" class="e_menu"   id="elem-menu">ACCUEIL</a></li>
            {% if app.user %}	
                    <li><a data-target="#"  href="{{ path('info_perso') }}" class="e_menu"  id="elem-menu2">MON COMPTE</a></li>	
                    <li><a data-target="#"  href="{{ path('healtheat') }}" class="e_menu"  id="elem-menu3">SUIVI</a></li>		
                    <li><a data-target="#"  href="{{ path('healtheat') }}" class="e_menu"  id="elem-menu4">PROGRAMMES</a></li>		
                    <li><a data-target="#"  href="{{ path('healtheat') }}" class="e_menu"  id="elem-menu5">INVENTAIRE</a></li>    
                    {% endif %}            		
                </ul>
			</div>
		</div>
	</nav>

        
            {% block body %}{% endblock %}
 
    <footer class="container-fluid text-center">
        <h1>LOGO</h1>
    </footer>
            
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <script src="/build/runtime.js"></script>
                <script src="/build/scroll-down.js"></script>
                <script src="/build/app.js"></script>
                
            {% endblock %}
    </body>
</html>
