{% extends "base.html.twig" %}

{% block title %} Qui sommes nous ? {% endblock %}

{% block stylesheet %}
    {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

{# 100005474320036 #}

<script>
        function maFonction()
        {
            document.getElementById("nav").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("nav").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";

            document.getElementById("snack").onclick(function() { 
                Snackbar.show({
                    text: 'Example notification text.',
                    pos: 'bottom-left',
                }); 
            }); 
                  
        }
        maFonction();
        </script>

          <div id="home" class="container-fluid">
            <div class="landing_text_2">
                <div class="case_4">
                    <div class= "ligne_hr_r">
                        <h2 class="titre_principal">L'EQUIPE</h2>
                        <hr align = center width="20%">
                        <div class="container-fluid">
        <div class="description">
            <div class="row">
                <div class="col-sm-3">
                    <div class="case">
                        <img src="{{ asset('build/images/jsuisbg.jpeg') }}" alt="" style="width:100%;max-width:200px;border-radius: 50%;">
                        <h2 style="font-size:120%;">MICKAEL ALVES</h2>
                        <a href="https://www.linkedin.com/in/mickael-alves-7a0810171/"><button class="btn linkedin" ><i class="fab fa-linkedin"></i>   LINKEDIN</button></a>
                    </div>
                </div>
                
                <div class="col-sm-3 ">
                    <div class="case">
                        <img src="{{ asset('build/images/camille.jpeg') }}" alt="" style="width:100%;max-width:200px;border-radius: 50%;">
                        <h2 style="font-size:120%;">CAMILLE MARGOTIN</h2>
                        <a href="https://www.linkedin.com/in/camille-margotin-84567b17a/"><button class="btn linkedin" ><i class="fab fa-linkedin"></i>   LINKEDIN</button></a>
                    </div>
                </div>
               
                <div class="col-sm-3 ">
                    <div class="case">
                        <img src="{{ asset('build/images/lucas.jpg') }}" alt="" style="width:100%;max-width:200px;border-radius: 50%;">
                        <h2 style="font-size:120%">LUCAS AUDART</h2>
                        <a href="https://www.linkedin.com/in/lucas-audart-935a18134/"><button class="btn linkedin" ><i class="fab fa-linkedin"></i>   LINKEDIN</button></a>
                    </div>
                </div>
                    
                <div class="col-sm-3 ">
                    <div class="case">
                        <img src="{{ asset('build/images/flo.jpg') }}" alt="" style="width:100%;max-width:200px;border-radius: 50%;">
                        <h2 style="font-size:120%;">FLORENT TIRVAUDEY</h2>
                        <a href="https://www.linkedin.com/in/florent-tirvaudey-649187172/"><button class="btn linkedin" ><i class="fab fa-linkedin"></i>   LINKEDIN</button></a>
                    </div>
                </div>
			</div>

                    </div>
                </div>
            </div>
</div>




     
   


{% endblock %}