{% extends 'base.html.twig' %}

{% block title %}HEALTH EAT{% endblock %}

{% block body %}

<script>
    $(window).on("scroll", function () {
        if ($(window).scrollTop()) {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("test").style.transition = "1.5s";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
        } else {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255, 0)";
            document.getElementById("test").style.boxShadow = "0px 0px 0px rgb(255, 255, 255)";
            document.getElementById("elem-menu").style.color = "white";
            document.getElementById("elem-menu2").style.color = "white";
            document.getElementById("elem-menu3").style.color = "white";
            document.getElementById("elem-menu4").style.color = "white";
            document.getElementById("elem-menu5").style.color = "white";
            document.getElementById("test").style.transition = "1s";
        }
    })
</script>

    <div id="home">
            <div class="landing-text">
                <h1><img src="{{ asset('build/images/LOGO_HE.png') }}" alt="#" width="400px" height="400px"></h1>
                <a class="ct-btn-scroll ct-js-btn-scroll scroll" href="#section2"><i class="fas fa-chevron-circle-down" alt="Arrow Down Icon"></i></a>
            </div>
    </div>

    <section id="section2">
        <div class="container">
            <div class="description">
                <div class="row">
					<div class="col-sm-4 ">
						<img id="myImg" src="{{ asset('build/images/pom.png') }}" alt="" style="width:100%;max-width:800px">
					</div>

					<div class="col-sm-1">
						<br>
					</div>
					<div class="col-sm-7 ">
						<h1>DESCRIPTION PROJET</h1>
						<div class=eqcss>
			                <hr align=center width="70%">
		                </div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat obcaecati voluptatibus, delectus est minima, assumenda sed modi voluptate ducimus illum? Expedita sint error optio aperiam exercitationem soluta, fugiat cupiditate.
                        Magni soluta doloribus, dolorem praesentium corporis laboriosam nesciunt, possimus facilis, consectetur odit facere? Voluptatibus minima pariatur nam alias veritatis, expedita voluptate nemo deserunt placeat quis atque omnis nobis, eum nulla.
                        Facere incidunt dolore repellendus laborum expedita, sapiente quas. Sapiente, autem recusandae, itaque quis ducimus dolorum non, animi temporibus eum aspernatur fuga facere quasi quod rem minus fugiat nisi? At, quam!
                        Unde magnam facilis quisquam iste odit cumque animi harum sit consectetur perferendis id error beatae nam commodi minima accusamus fugit, voluptatibus nulla? Quae tempore fuga saepe at ipsam possimus aperiam!
                        Excepturi quo maiores quia fuga, amet reiciendis repellendus sunt impedit blanditiis quae voluptatem corrupti dicta minima eaque itaque cum. Libero quisquam, eaque tempora quidem blanditiis dolorem porro voluptate.</p>
					</div>
				</div>
            </div>
        </div>
    </section>

    <div id="home2">
	</div>

    <div class="container">
        <div class="description">
            <div class="row">
                <div class="col-sm-3">
                    <div class="case">
                        <img id="myImg" src="{{ asset('build/images/info.png') }}" alt="" style="width:100%;max-width:200px">
                        <h2>Profil Personnel</h2>
                        <p>Lorem ipsum dolor, sit amet sitee consectetur.</p>
                        {% if app.user %}
                        <a href=""><button class="btn  fonction" >  MON ESPACE</button></a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-sm-3 ">
                    <div class="case">
                        <img id="myImg" src="{{ asset('build/images/graphe.png') }}" alt="" style="width:100%;max-width:200px">
                        <h2>Suivi Personnel</h2>
                        <p>Lorem ipsum dolor, sit amet sitee consectetur.</p>
                        {% if app.user %}
                        <a href=""><button class="btn  fonction" >  VOIR MON SUIVI</button></a>
                        {% endif %}
                    </div>
                </div>
               
                <div class="col-sm-3 ">
                    <div class="case">
                        <img id="myImg" src="{{ asset('build/images/nourriture.png') }}" alt="" style="width:100%;max-width:200px">
                        <h2>Programmes</h2>
                        <p>Lorem ipsum dolor, sit amet sitee consectetur.</p>
                        {% if app.user %}
                        <a href=""><button class="btn  fonction" >  MON PROGRAMME</button></a>
                        {% endif %}
                    </div>
                </div>
                    
                <div class="col-sm-3 ">
                    <div class="case">
                        <img id="myImg" src="{{ asset('build/images/inventaire.png') }}" alt="" style="width:100%;max-width:200px">
                        <h2>Inventaire</h2>
                        <p>Lorem ipsum dolor, sit amet sitee consectetur.</p>
                        {% if app.user %}
                        <a href=""><button class="btn  fonction" >  GERER MON INVENTAIRE</button></a>
                        {% endif %}
                    </div>
                </div>
			</div>
            {% if not app.user %}
            <br><br>
            <div class="case2">
                Pour avoir accès aux différentes fonctionnalités, veuillez vous inscrire ou vous connecter.
                <br><br>
                <a href="{{ path('security_connexion') }}"><button class="btn  connexion" ><i class="far fa-user-circle"></i>  CONNECTEZ-VOUS</button></a>
                <a href="{{ path('security_inscription') }}"><button class="btn  connexion" ><i class="far fa-user-circle"></i>  INSCRIVEZ-VOUS</button></a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="home2">
	</div>

{% endblock %}
