{% extends "base.html.twig" %}

{% block stylesheet %}
    {# {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css"> #}
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
        }

        maFonction();
    </script>

    <div id="homep">
    <div class="container-fluid">
        <div class="description">
            <div class="case_connexion">
                <div class=eqcss>
                    <h2 class="titre_co">ESPACE PERSONNEL</h2>
                    <hr align=center width="20%">
                </div>

                <div class="case3">
                {{ user.username }}
                </div>

                {% if not info_user.sexe or  not info_user.age or not info_user.poids or not info_user.taille or not info_user.getTourHanche() or not info_user.getTourTaille()%}
                <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fas fa-exclamation-circle"></i> ATTENTION <i class="fas fa-exclamation-circle"></i></strong><br><br>
                    Vous n'avez pas remplit toutes les informations. Pour des performances optimales il est nécessaire de tout remplir.
                    <br>
                    Vous pouvez cliquer sur le bouton si dessous pour pouvoir compléter votre profil à 100%.
                    <br>
                    Information(s) manquante(s) :
                    <br>
                    {% if info_user.nom == NULL %}
                        Nom <br>
                    {% endif %}
                    {% if info_user.prenom == NULL %}
                        Prenom <br>
                    {% endif %}
                    {% if info_user.sexe == NULL %}
                        Sexe <br>
                    {% endif %}
                    {% if info_user.age == NULL %}
                        Age <br>
                    {% endif %}
                    {% if info_user.poids == NULL %}
                        Poids <br>
                    {% endif %}
                    {% if info_user.taille == NULL %}
                        Taille <br>
                    {% endif %}
                    {% if info_user.getTourTaille() == NULL %}
                        Tour de Taille <br>
                    {% endif %}
                    {% if info_user.getTourHanche() == NULL %}
                        Tour de Hanche <br>
                    {% endif %}
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <a href="{{ path('espace_perso') }}"><button class="btn  btninfo" ><i class="fas fa-pencil-alt"></i>  MODIFER MON PROFIL</button></a>
                        </div>
                    <div class="col-sm-1"></div>
                </div>
                <br><br>
                <div class="row" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info.png') }}" alt="" style="width:100%;max-width:100px">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                            <p>NOM</p>
                            {% if info_user.nom != NULL %}
                                {{ info_user.nom }} {{ info_user.prenom }}
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>SEXE</p>
                            {% if info_user.sexe != NULL %}
                                {{ info_user.sexe }}
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>AGE</p>
                            {% if info_user.age != NULL %}
                                {{ info_user.age }} ans
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info2.png') }}" alt="" style="width:100%;max-width:100px;">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                                <p>POIDS</p>
                            {% if info_user.poids != NULL %}
                                {{ info_user.poids }} kg
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>TAILLE</p>
                            {% if info_user.taille != NULL %}
                                {{ info_user.taille /100 }} m
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>IMC</p>
                            {% if info_user.imc != NULL %}
                                {{ info_user.imc }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-3" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info3.png') }}" alt="" style="width:100%;max-width:100px">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                            {% if info_user.intolerance != NULL %}
                            <p>INTOLERENCES</p>
                            <ul class="list-unstyled">
                            {% for into in info_user.intolerance %}
                                <li>{{ into.nom }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            <div class=eqcss3>
                            <hr align=center width="100%">
                            </div>
                            {% if info_user.allergie != NULL %}
                            <p>ALLERGIES</p>
                            <ul class="list-unstyled">
                            {% for alle in info_user.allergie %}
                                <li>{{ alle.nom }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="case_supp" data-toggle="collapse" data-target="#target1">
                            <div class="row">
                                <div class="col-sm-11">
                                    <a style="font-size:100%;">Informations supplémentaires</a>
                                </div>
                                <div class="col-sm-1">
                                    <a><i class="fas fa-caret-down" style="font-size:150%;"></i></a>
                                </div>
                            </div>
                            <div id="target1" class="collapse">
                                <div class=eqcss3>
                                <hr align=center width="100%">
                                </div>
                                <br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatibus repellendus debitis non excepturi molestias asperiores pariatur veniam, vero nihil consequuntur, itaque iste cum maxime? Iure nostrum voluptas quos rerum?
                                Sapiente fuga tempore non magnam voluptatem modi id qui veritatis, beatae debitis, adipisci ipsam pariatur accusamus alias quidem amet aspernatur repellat ex? Similique necessitatibus possimus consequatur suscipit molestias officiis quasi!
                                Reprehenderit laudantium sunt unde voluptates ad id magnam alias tempore ratione, delectus enim voluptatum eos, doloremque ipsam blanditiis debitis exercitationem illum odit quam dolore porro iste ullam minus? Deserunt, magni!
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    

{% endblock %}