{% extends "base.html.twig" %}

{% block stylesheet %}
    {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";

            document.getElementById("snack").onclick(function() { 
                Snackbar.show({
                    text: 'Example notification text.',
                    pos: 'bottom-left',
                }); 
            }); 
                  
        }

        maFonction();

        function alert_enregistrer(txt){
        Swal.fire({
            title: txt,
            type: 'success',
            backdrop:false,
            position:'bottom-end',
            heightAuto:false,
            showConfirmButton: false,
            timer: 2000
            })
        }

        function aide(){
            Swal.fire({
                customClass: {
                    cancelButton: 'mick'
                },
                buttonsStyling: false,
                showCancelButton: true,
                showConfirmButton: false,
                showCloseButton: true,
                focusCancel: true,
                width:'800px',
                type:'question',
                cancelButtonText: 'FERMER',
                backdrop:'rgb(0,0,0,0.92)',
                html:
                    '<div class=eqcss>' +
                        '<h2 class="titre_co\">PAGE D\'AIDE</h2>' +
                        '<hr align=center width="20%">' +
                    '</div>' +
                    '<div class="titre_aide">' +
                        '<div class="row">' +
                            '<div class="col-sm-6">' +
                                '<p class="aide_titre"> LE TOUR DE TAILLE </p>' +
                                '<img src="{{ asset('build/images/tourDeTaille.jpg') }}" alt="">'+
                            '</div>' +
                            '<div class="col-sm-6">' +
                                '<p class="aide_titre"> LE TOUR DE HANCHE </p>' +
                                '<img src="{{ asset('build/images/tourDeHanche.jpg') }}" alt="">'+
                            '</div>' +
                        '</div>' +
                        '<br><br>' +
                        '<p class="aide_titre"> POURQUOI LE TOUR DE TAILLE ET DE HANCHE ? </p>' + 
                            '<p class="aide_normal">Cela nous permet de déterminer le type d\'obésité avec le rapport taille\/hanche. Plus petit que 0,8 signifie une obésité gynoïde, c\'est a dire que la graisse se situe principalement au niveau des cuisses (habituellement chez les femmes). Plus grand que 0,8 signifie une obésité androïde, c\'est à dire que la graisse se situe principalement au niveau du ventre (habituellement chez les hommes).' +
                            '<br><br>' +
                        '<p class="aide_titre"> QU\'EST CE QUE L\'IMC ? </p>' +
                            '<p class="aide_normal">L\'Indice de Masse Corporelle permet de déterminer si on est en situation de maigreur (moins de 18,5), de poids souhaitable (entre 18,5 et 24,9), de surpoids (entre 25 et 29,9) où d\'obésité massive (plus de 40). On calcul l\'IMC avec le poids et la taille. Vous pouvez retrouver l\'évolution de votre IMC dans l\'onglet suivi. ' +
                            '<br><br>' +
                        '<p class="aide_titre"> MON TEMPS D\'ACTIVITE</p>' +  
                            '<p class="aide_normal">Une activité physique journalière inférieure à 30 minutes est très faible, entre 30 et 60 minutes est recommandée et plus de 60 minutes est élevée. Vous pouvez retrouver l\'évolution de votre temps d\'activité physique dans l\'onglet suivi.' +
                        '<p class="aide_titre"> MES INTOLERANCES ET ALLERGIES</p>' +  
                            '<p class="aide_normal">Lors de la génération de votre programme alimentaire pour la semaine, nous essayons de prendre au maximum en compte votre régime alimentaire pour générer des recettes qui vous conviennent.' +            
                    '</div>',
                })
        }
    </script>

    <div id="homep">
    <div class="container-fluid">
        <div class="description">
            <div class="case_connexion">
                <div class=eqcss>
                    <h2 class="titre_co">ESPACE PERSONNEL</h2>
                    <hr align=center width="20%">
                </div>
                <div class="case3">
                {{ user.username }}
                </div>
                {% for message in app.flashes('notice') %}
                    <script>
                        alert_enregistrer('Changements sauvegardés !')
                    </script>
                {% endfor %}
                {% if not info_user.sexe or  not info_user.age or not info_user.getLPoids() or not info_user.taille or not info_user.getTourHanche() or not info_user.getTourTaille()%}
                <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><i class="fas fa-exclamation-circle"></i> ATTENTION <i class="fas fa-exclamation-circle"></i></strong><br><br>
                    Vous n'avez pas remplit toutes les informations. Pour des performances optimales il est nécessaire de tout remplir.
                    <br>
                    Vous pouvez cliquer sur le bouton si dessous pour pouvoir compléter votre profil à 100%.
                    <br>
                    Information(s) manquante(s) :
                    <br>
                    {% if info_user.nom == NULL %}
                        Nom <br>
                    {% endif %}
                    {% if info_user.prenom == NULL %}
                        Prenom <br>
                    {% endif %}
                    {% if info_user.sexe == NULL %}
                        Sexe <br>
                    {% endif %}
                    {% if info_user.age == NULL %}
                        Age <br>
                    {% endif %}
                    {% if info_user.getLPoids() == NULL %}
                        Poids <br>
                    {% endif %}
                    {% if info_user.taille == NULL %}
                        Taille <br>
                    {% endif %}
                    {% if info_user.getTourTaille() == NULL %}
                        Tour de Taille <br>
                    {% endif %}
                    {% if info_user.getTourHanche() == NULL %}
                        Tour de Hanche <br>
                    {% endif %}
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <a href="{{ path('espace_perso') }}"><button class="btn  btninfo" ><i class="fas fa-pencil-alt"></i>  MODIFER MON PROFIL</button></a>
                        </div>
                    <div class="col-sm-1"></div>
                </div>
                <br><br>
                <div class="row" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info.png') }}" alt="" style="width:100%;max-width:100px">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                            <p>NOM</p>
                            {% if info_user.nom != NULL %}
                                {{ info_user.nom }} {{ info_user.prenom }}
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>SEXE</p>
                            {% if info_user.sexe != NULL %}
                                {{ info_user.sexe }}
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>AGE</p>
                            {% if info_user.age != NULL %}
                                {{ info_user.age }} ans
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info2.png') }}" alt="" style="width:100%;max-width:100px;">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                            <p>POIDS</p>
                            {% if info_user.getLPoids() != NULL %}
                                {{ info_user.getLPoids() }} kg
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>TAILLE</p>
                            {% if info_user.taille != NULL %}
                                {{ info_user.taille /100 }} m
                            {% endif %}
                            <div class=eqcss3>
                                <hr align=center width="80%">
                            </div>
                            <p>IMC <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p> 
                            {% if info_user.imc != NULL %}
                                {{ info_user.imc }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-3" id="info_p">
                        <div class="case">
                            <img src="{{ asset('build/images/info3.png') }}" alt="" style="width:100%;max-width:100px">
                            <br>
                            <div class=eqcss>
                            <hr align=center width="100%">
                            </div>
                            {% if info_user.intolerance != NULL %}
                            <p>INTOLERENCES <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
                            <ul class="list-unstyled">
                            {% for into in info_user.intolerance %}
                                <li>{{ into.nom }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            <div class=eqcss3>
                            <hr align=center width="100%">
                            </div>
                            {% if info_user.allergie != NULL %}
                            <p>ALLERGIES <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
                            <ul class="list-unstyled">
                            {% for alle in info_user.allergie %}
                                <li>{{ alle.nom }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="case_supp">
                            <div class="row pointer" data-toggle="collapse" data-target="#target1">
                                <div class="col-sm-11">
                                    <a style="font-size:100%;">Informations supplémentaires</a>
                                </div>
                                <div class="col-sm-1">
                                    <a><i class="fas fa-caret-down" style="font-size:150%;"></i></a>
                                </div>
                            </div>
                            <div id="target1" class="collapse">
                                <div id="info_p">
                                    <div class=eqcss3>
                                    <hr align=center width="100%">
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p>Tour de taille <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
                                            {% if info_user.getTourTaille() != NULL %}
                                                {{ info_user.getTourTaille() }}
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                        <p>Tour de hanche <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
                                        {% if info_user.getTourHanche() != NULL %}
                                            {{ info_user.getTourHanche() }}
                                        {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                        <p>Rapport Taille Hanche <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
                                        </div>
                                        {% if info_user.getTourTaille() != NULL and info_user.getTourHanche() != NULL %}
                                            {{ info_user.getTourTaille() / info_user.getTourHanche() }}
                                            {% if (info_user.getTourTaille() / info_user.getTourHanche() > 1 and info_user.sexe == 'homme') or 
                                                (info_user.getTourTaille() / info_user.getTourHanche() > 0.85 and info_user.sexe == 'femme') %} 
                                                    <br><br>
                                                    <div class="alert alert-danger" role="alert">
                                                        Danger
                                                    </div>
                                            
                                            {% else %}
                                                {% if (info_user.getTourTaille() / info_user.getTourHanche() > 0.95 and info_user.sexe == 'homme') or 
                                                    (info_user.getTourTaille() / info_user.getTourHanche() > 0.80 and info_user.sexe == 'femme') %}
                                                        <br><br>
                                                        <div class="alert alert-info" role="alert">
                                                            Ok
                                                        </div>
                                                
                                                {% else %}
                                                    {% if (info_user.getTourTaille() / info_user.getTourHanche() < 1 and info_user.sexe == 'homme') or 
                                                        (info_user.getTourTaille() / info_user.getTourHanche() < 0.85 and info_user.sexe == 'femme') %}
                                                            <br><br>
                                                            <div class="alert alert-success" role="alert">
                                                                Ez
                                                            </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %} 
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    

{% endblock %}