{% extends "base.html.twig" %}

{% block title %} Mon inventaire {% endblock %}

{% block stylesheet %}
    {# {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css"> #}
{% endblock %}

{% block body %}

 <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";
        }
        maFonction();
 </script>

  <div id="homep" class="container-fluid">
            <div class="landing-textp ">
                <div class="case_connexion">
                    <div class=eqcss>
                        <p class="titre_co">INVENTAIRE </p>
                        <hr align=center width="20%">
                        <a href="{{ path('ajouter_ingred') }}" class="ajouter_ingred"><button class="btn btninfo" ><i class="fas fa-plus"></i> AJOUTER PRODUIT</button></a>
                    </div>
                   
                        <div class="row container-fluid" id="row">
                             {% for ligne in inventaire | batch(3) %}
                                    {% for ingredient in ligne %}
                                        <div class="col-sm-4">
                                            <p class="case_ingred"> {{ ingredient.ingredient }} <a href="{{ path('supprimer_ingred', {'id' : ingredient.id }) }} " class="close_inventaire"><i class="fas fa-times-circle"></i></a></p>
                                        </div>
                                    {% endfor %}  
                            {% endfor %}
                            <span class="fin"></span>
                        </div>
                    
                </div>
            </div>
</div>


{% endblock %}

{% block javascripts %}

    <script>

    function onClickSuppr(event){

        event.preventDefault();

        const url = this.href;
        const divsuppr = this.parentElement.parentElement;

        axios.get(url).then(function(response){
            divsuppr.remove();
            console.log(response);
        })
    }

    function onClickAdd(event){

        event.preventDefault();

        const url = this.href;

        var urlIngred = '{{ path('supprimer_ingred', {'id': 'id_ingred'}) }}';

        const row = document.getElementById('row');

        axios.get(url).then(function(response){
            console.log(response);
            
            console.log(response.data.id);
            console.log(urlIngred);

            urlIngred = urlIngred.replace("id_ingred", response.data.id);

            console.log(urlIngred);

            var newDiv = document.createElement("div");
            newDiv.classList.add("col-sm-4");

            var paragraphe = document.createElement("p");
            paragraphe.classList.add("case_ingred");

            var texte = document.createTextNode(response.data.ingredient);

            var link = document.createElement("a");
            link.classList.add("close_inventaire");
            link.href = urlIngred;

            var icon = document.createElement("i");
            icon.classList.add("fas");
            icon.classList.add("fa-times-circle");

            link.appendChild(icon);
            paragraphe.appendChild(link);
            paragraphe.appendChild(texte);
            newDiv.appendChild(paragraphe);
            row.appendChild(newDiv);

            link.addEventListener('click', onClickSuppr);
        })
    }

    document.querySelectorAll('a.close_inventaire').forEach(function(link){
        link.addEventListener('click', onClickSuppr);
    });

    document.querySelectorAll('a.ajouter_ingred').forEach(function(link){
        link.addEventListener('click', onClickAdd);
    });

    </script>
{% endblock %}