{% extends "base.html.twig" %}

{% block title %} Modifier mon profil {% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('InfoPersoForm') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";
        }

        maFonction();

        function aide(){
            Swal.fire({
                customClass: {
                    cancelButton: 'mick'
                },
                buttonsStyling: false,
                showCancelButton: true,
                showConfirmButton: false,
                showCloseButton: true,
                focusCancel: true,
                width:'800px',
                type:'question',
                cancelButtonText: 'FERMER',
                backdrop:'rgb(0,0,0,0.92)',
                html:
                    '<div class=eqcss>' +
                        '<h2 class="titre_co\">PAGE D\'AIDE</h2>' +
                        '<hr align=center width="20%">' +
                    '</div>' +
                    '<div class="titre_aide">' +
                        '<div class="row">' +
                            '<div class="col-sm-6">' +
                                '<p class="aide_titre"> LE TOUR DE TAILLE </p>' +
                                '<img src="{{ asset('build/images/tourDeTaille.jpg') }}" alt="">'+
                            '</div>' +
                            '<div class="col-sm-6">' +
                                '<p class="aide_titre"> LE TOUR DE HANCHE </p>' +
                                '<img src="{{ asset('build/images/tourDeHanche.jpg') }}" alt="">'+
                            '</div>' +
                        '</div>' +
                        '<br><br>' +
                        '<p class="aide_titre"> POURQUOI LE TOUR DE TAILLE ET DE HANCHE ? </p>' + 
                            '<p class="aide_normal">Cela nous permet de déterminer le type d\'obésité avec le rapport taille\/hanche. Plus petit que 0,8 signifie une obésité gynoïde, c\'est a dire que la graisse se situe principalement au niveau des cuisses (habituellement chez les femmes). Plus grand que 0,8 signifie une obésité androïde, c\'est à dire que la graisse se situe principalement au niveau du ventre (habituellement chez les hommes).' +
                            '<br><br>' +
                        '<p class="aide_titre"> QU\'EST CE QUE L\'IMC ? </p>' +
                            '<p class="aide_normal">L\'Indice de Masse Corporelle permet de déterminer si on est en situation de maigreur (moins de 18,5), de poids souhaitable (entre 18,5 et 24,9), de surpoids (entre 25 et 29,9) où d\'obésité massive (plus de 40). On calcul l\'IMC avec le poids et la taille. Vous pouvez retrouver l\'évolution de votre IMC dans l\'onglet suivi. ' +
                            '<br><br>' +
                        '<p class="aide_titre"> MON TEMPS D\'ACTIVITE</p>' +  
                            '<p class="aide_normal">Une activité physique journalière inférieure à 30 minutes est très faible, entre 30 et 60 minutes est recommandée et plus de 60 minutes est élevée. Vous pouvez retrouver l\'évolution de votre temps d\'activité physique dans l\'onglet suivi.' +
                        '<p class="aide_titre"> MES INTOLERANCES ET ALLERGIES</p>' +  
                            '<p class="aide_normal">Lors de la génération de votre programme alimentaire pour la semaine, nous essayons de prendre au maximum en compte votre régime alimentaire pour générer des recettes qui vous conviennent.' +            
                    '</div>',
                })
        }
    </script>

    <div id="home" class="container-fluid">
            <div class="landing-textp">
                <div class="case_connexion">
                    <div class=eqcss>
                        <h2 class="titre_co">ESPACE PERSONNEL</h2>
                        <hr align=center width="20%">
                    </div>

<div class="row" id="info_p">
    {{ form_start(form) }}
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="case">
                <img src="{{ asset('build/images/info.png') }}" alt="" style="width:100%;max-width:100px">
                <br>
                <div class=eqcss>
                <hr align=center width="100%">
                </div>
                <p>NOM</p>
                {{ form_row(form.Nom, {'label' : " " ,'attr':
                {'placeholder': 'Nom', 'class': 'form_perso'}})}}
                </br>
                <p>PRENOM</p>
                {{ form_row(form.Prenom, {'label' : " " ,'attr':
                {'placeholder': 'Prénom', 'class': 'form_perso'}})}}
                </br>
                <p>SEXE</p>
                {{ form_row(form.Sexe, {'label' : " " ,'attr':
                {'placeholder': 'Sexe', 'class': 'form_perso'}})}}
                </br>
                <p>AGE</p>
                {{ form_row(form.Age, {'label' : " " ,'attr':
                {'placeholder': 'Age', 'class': 'form_perso'}})}}  
                <br>
                <a href=""><button class="btn  fonction" >  MODIFIER MON MOT DE PASSE</button></a>
            </div>
        </div>
        <div class="col-sm-5">
        <div class="case">
            <img src="{{ asset('build/images/info2.png') }}" alt="" style="width:100%;max-width:100px;">
            <br>
            <div class=eqcss>
            <hr align=center width="100%">
            </div>
            <p>TAILLE (cm)</p>
            {{ form_row(form.Taille, {'label' : " " ,'attr':
            {'placeholder': 'Taille', 'class': 'form_perso'}})}}
            </br>
            <p>POIDS (kg)</p>
            {{ form_row(form.l_poids, {'label' : " " ,'attr':
            {'placeholder': 'Poids', 'class': 'form_perso'}})}}
            </br>
            <p>TOUR DE TAILLE (cm)<i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p> 
            {{ form_row(form.tour_taille, {'label' : " " ,'attr':
            {'placeholder': 'Tour de taille', 'class': 'form_perso'}})}}
            </br>
            <p>TOUR DE HANCHE (cm)<i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>  
            {{ form_row(form.tour_hanche, {'label' : " " ,'attr':
            {'placeholder': 'Tour de hanche', 'class': 'form_perso'}})}}
            </br>
            <p>TEMPS D'ACTIVITE PHYSIQUE (minutes)<i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
            {{ form_row(form.l_temps, {'label' : " " ,'attr':
            {'placeholder': 'Temps d\'activité physique', 'class': 'form_perso'}})}}
            </br>
            <p>INTOLERANCE ET ALLERGIE <i onclick="aide()" class="fas fa-question-circle icon_aide"></i></p>
            </br>
            <button type="button" class="btn fonction2" data-toggle="collapse" data-target="#intolerance">Intolerance <i class="fas fa-caret-down" style="font-size:100%;"></i></button>
            <button type="button" class="btn fonction2" data-toggle="collapse" data-target="#allergie">Allergie <i class="fas fa-caret-down" style="font-size:100%;"></i></button>
            <div class="row">
                <div class="col-sm-6">
                    <div id="intolerance" class="collapse col-sm-6">
                    {{ form_row(form.intolerance, {'label' : " " })}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="allergie" class="collapse col-sm-6">
                        {{ form_row(form.allergie, {'label' : " " })}}
                    </div> 
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-1"></div>
        <br>
        <br>
        {{ form_row(form.enregistrer, {'label' : "ENREGISTRER" })}}  
    {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}