{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('InfoPersoForm') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
        }

        maFonction();
    </script>

    <div id="homep">
            <div class="landing-textp">
                <div class="case_connexion">
                    <div class=eqcss>
                        <h2 class="titre_co">ESPACE PERSONNEL</h2>
                        <hr align=center width="20%">
                    </div>

    {{ form_start(form) }}
        {{ form_row(form.Nom, {'label' : "Nom" ,'attr':
        {'placeholder': 'Nom', 'class': 'form_perso'}})}}
        {{ form_row(form.Prenom, {'label' : "Prénom" ,'attr':
        {'placeholder': 'Prénom', 'class': 'form_perso'}})}}
        {{ form_row(form.Sexe, {'label' : "Sexe" ,'attr':
        {'placeholder': 'Sexe', 'class': 'form_perso'}})}}
        {{ form_row(form.Age, {'label' : "Age" ,'attr':
        {'placeholder': 'Age', 'class': 'form_perso'}})}}
        {{ form_row(form.l_poids, {'label' : "Poids" ,'attr':
        {'placeholder': 'Poids', 'class': 'form_perso'}})}}
        {{ form_row(form.Taille, {'label' : "Taille" ,'attr':
        {'placeholder': 'Taille', 'class': 'form_perso'}})}}
        {{ form_row(form.tour_taille, {'label' : "Tour de taille" ,'attr':
        {'placeholder': 'Tour de taille', 'class': 'form_perso'}})}}
        {{ form_row(form.tour_hanche, {'label' : "Tour de hanche" ,'attr':
        {'placeholder': 'Tour de hanche', 'class': 'form_perso'}})}}
        {{ form_row(form.temps_activite_physique, {'label' : "Temps d'activité physique" ,'attr':
        {'placeholder': 'Temps d\'activité physique', 'class': 'form_perso'}})}}
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#intolerance">Intolerance</button>
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#allergie">Allergie</button>
        <div class="row">
            <div class="col-sm-6">
                <div id="intolerance" class="collapse col-sm-6">
                {{ form_row(form.intolerance, {'label' : " " })}}
                </div>
            </div>
            <div class="col-sm-6">
                <div id="allergie" class="collapse col-sm-6">
                    {{ form_row(form.allergie, {'label' : " " })}}
                </div> 
            </div>
        </div>
        <br>
        <br>
        {{ form_row(form.enregistrer, {'label' : "ENREGISTRER" })}}  
    {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}