{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('InfoPersoForm') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
        }

        maFonction();
    </script>

    <div id="homep">
            <div class="landing-textp">
                <div class="case_connexion">
                    <div class=eqcss>
                        <h2 class="titre_co">ESPACE PERSONNEL</h2>
                        <hr align=center width="20%">
                    </div>

<div class="row" id="info_p">
    {{ form_start(form) }}
        <div class="col-sm-6">
            <p>NOM</p>
            {{ form_row(form.Nom, {'label' : " " ,'attr':
            {'placeholder': 'Nom', 'class': 'form_perso'}})}}
            </br>
            <p>PRENOM</p>
            {{ form_row(form.Prenom, {'label' : " " ,'attr':
            {'placeholder': 'Prénom', 'class': 'form_perso'}})}}
            </br>
            <p>SEXE</p>
            {{ form_row(form.Sexe, {'label' : " " ,'attr':
            {'placeholder': 'Sexe', 'class': 'form_perso'}})}}
            </br>
            <p>AGE</p>
            {{ form_row(form.Age, {'label' : " " ,'attr':
            {'placeholder': 'Age', 'class': 'form_perso'}})}}            
            </br>
            <p>POIDS</p>
            {{ form_row(form.l_poids, {'label' : " " ,'attr':
            {'placeholder': 'Poids', 'class': 'form_perso'}})}}
        </div>
        <div class="col-sm-6">
            <p>TAILLE</p>
            {{ form_row(form.Taille, {'label' : " " ,'attr':
            {'placeholder': 'Taille', 'class': 'form_perso'}})}}
            </br>
            <div class="row">
                <div class="col-sm-6 gauche">
                    <p>TOUR DE TAILLE</p>  
                </div>
                <div class="col-sm-6 droite">
                    <div class="case_tour" data-toggle="collapse" data-target="#target3">
                            <i class="fas fa-info-circle" style="font-size:140%;" ></i>                                
                           {# <a><i class="fas fa-caret-down" style="font-size:150%;"  style="color:red;"></i></a>#}
                        <div id="target3" class="collapse">
                            <img src="{{ asset('build/images/tourDeTaille.jpg')}}">
                        </div>
                    </div>
                </div>
            </div>
            {{ form_row(form.tour_taille, {'label' : " " ,'attr':
            {'placeholder': 'Tour de taille', 'class': 'form_perso'}})}}
            </br>
            <div class="row">
                <div class="col-sm-6 gauche">
                    <p>TOUR DE HANCHE</p>  
                </div>
                <div class="col-sm-6 droite">
                    <div class="case_tour" data-toggle="collapse" data-target="#target2">
                            <i class="fas fa-info-circle" style="font-size:140%;"></i>                                
                            {#<a><i class="fas fa-caret-down" style="font-size:150%;"></i></a>#}
                        <div id="target2" class="collapse">
                            <img src="{{ asset('build/images/tourDeHanche.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
            {{ form_row(form.tour_hanche, {'label' : " " ,'attr':
            {'placeholder': 'Tour de hanche', 'class': 'form_perso'}})}}
            </br>
            <p>TEMPS D'ACTIVITE PHYSIQUE</p>
            {{ form_row(form.l_temps, {'label' : " " ,'attr':
            {'placeholder': 'Temps d\'activité physique', 'class': 'form_perso'}})}}
            </br>
            <p>INTOLERANCE ET ALLERGIE</p>
            </br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#intolerance">Intolerance</button>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#allergie">Allergie</button>
            <div class="row">
                <div class="col-sm-6">
                    <div id="intolerance" class="collapse col-sm-6">
                    {{ form_row(form.intolerance, {'label' : " " })}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="allergie" class="collapse col-sm-6">
                        {{ form_row(form.allergie, {'label' : " " })}}
                    </div> 
                </div>
            </div>
        </div>
        <br>
        <br>
        {{ form_row(form.enregistrer, {'label' : "ENREGISTRER" })}}  
    {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}