{% extends "base.html.twig" %}

{% block stylesheet %}
    {# {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css"> #}
{% endblock %}

{% block body %}

 <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";
        }

        maFonction();
 </script>

<div id="homep" class="container-fluid">
    <div class="landing-textp">
        <div class="case_connexion">
            <div class=eqcss>
                <h2 class="titre_co">MON PROGRAMME</h2>
                <hr align=center width="20%">
            </div>
            {# <a href="{{ path('mon_programme') }}"><button class="btn  btnprogramme" ><i class="fas fa-utensils"></i>  GÉNERER MON PROGRAMME</button></a> #}

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus facilis obcaecati asperiores nisi itaque, labore iure quae nemo quos. Autem mollitia, accusantium dignissimos maiores quod culpa nulla repellendus cum!
            Doloremque rerum nostrum itaque? A asperiores, quas necessitatibus ad magnam eum officia consequuntur autem minus odit eveniet maiores maxime in aut magni itaque quam vitae, animi corrupti, corporis illo fugiat?
            Nobis sit nesciunt quia officia voluptas amet, illum corrupti quos ipsum repellendus exercitationem non quasi sapiente est, repudiandae deserunt modi nihil eaque provident eum enim. Ad, laboriosam nam! Earum, porro.</p><br>

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">LUNDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">MARDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>  

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">MERCREDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">                                    
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">JEUDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">VENDREDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">SAMEDI</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" style="padding: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row case">
                        <p class="jour_recette">DIMANCHE</p>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/c7bc25b2ffb0e57f5d0aa69a4e056d709bcae14e-mug-quiche.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="sunny"></ion-icon> RECETTE DU MIDI</p>
                                    <p><i class="fas fa-utensils"></i> Mug Quiche</p>
                                    <p><i class="fas fa-award"></i>  Facile</p>
                                    <p><i class="fas fa-stopwatch"></i>  10 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                        </div>
                        <div class=" col-sm-2 eqcssre">
                            <hr align="center">
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/9f28c8b7dd76ffb13f25883b6bdb488b4167d9c6-poulet-coco.jpg" alt="" style="width:100%;max-width:300px;">
                                </div>
                                <div class="col-sm-6">
                                    <p class="style_titre"><ion-icon name="moon"></ion-icon> RECETTE DU SOIR</p>
                                    <p><i class="fas fa-utensils"></i> Poulet coco</p>
                                    <p><i class="fas fa-award"></i>  Intermédiaire</p>
                                    <p><i class="fas fa-stopwatch"></i>  40 min</p>
                                </div>
                            </div>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-sync-alt"></i>  CHANGER LA RECETTE</button></a>
                            <br>
                            <a href="{{ path('security_connexion') }}"><button class="btn btn_recette" ><i class="fas fa-book"></i>  VOIR LA RECETTE</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}